body{
	font-family: "Roboto";
	padding-top:70px;
	background-image:url("../images/body-bg.png");
	background-size:100%;
	background-attachment: fixed;
}
.main-content{
}
.about-me-p{
	background-color: rgba(255,255,255,0.8);
	border-radius: 20px;
	padding:20px;
	box-shadow: 0 0 30px white;
}
.free-style-info{
	padding-top:200px;
	text-align: center;
}
.my-btn-row{
	text-align: center;
}
.my-btn{
	background:url("../images/button-bg.png");
	background-position: center center;
	background-size:110%;
	border:2px solid rgba(0,0,0,0.5);
	border-radius: 90px;
	padding-top:63px;
	width:120px;
	height:120px;
	color:white;
	text-transform: uppercase;
	text-shadow: none;
	margin-bottom:100px;
	z-index: 1;
	position: absolute;
}

.my-btn:hover{
	border-color:rgba(255,255,255,0.8);
	background-position: center center;
	background-size:110%;
	box-shadow: 0 0 20px black;
	width:150px;
	height:150px;
	color:white;
	font-size:18px;
	padding-top:80px;
	transition: 0.2s;
}
.my-btn:link{
	background:url("../images/button-bg.png");
	background-position: center center;
	background-size:110%;
	border-color:rgba(255,255,255,1);
}
.btn.my-btn:focus{
	border:2px solid black;
	border-color:rgba(255,255,255,1);
	box-shadow: 0 0 40px white;
	width:150px;
	height:150px;
	color:white;
	font-size:18px;
	padding-top:80px;
	transition: 0.2s;
}
.btn.my-btn:active{
	border:2px solid black;
	border-color:rgba(255,255,255,1);
	box-shadow: 0 0 40px white;
	width:150px;
	height:150px;
	color:white;
	transition: 0.2s;
}
.my-btn-row{
	text-align: center;
	vertical-align: center;
}
.my-info-btn{
	top:-100px;
	left:200px;
}
.my-skill-btn{
	top:330px;
	left:-60px;
}
.my-hobby-btn{
	top:330px;
	left:440px;
}
.my-exp-btn{
	top:50px;
	left:-70px;
}
.my-contact-btn{
	top:50px;
	left:450px;
}
.my-download-btn{
	display:none;
	top:450px;
	left:200px;
	background-image:url("../images/download-bg-btn.png")!important;
}
.resume{
	background:url("../images/resume-bg.png");
	border:5px solid black;
	border-radius: 275px;
	padding:80px;
	box-shadow: 0 0 10px white;
	width:520px;
	height:520px;
	text-align: center;
	position: relative center center;
}
footer{
	height:100px;
	margin-top:120px;
	background-color:cyan;
}